/* ***************** max-width: 992px Style **************** */
@media only screen and (max-width: 992px) {
  /* ======= header section======= */
  .container {
    margin: 15px;
  }

  /* ======= header section======= */
  /* ======= navigation bar ======= */
  nav .logo {
    font-size: 1.7rem;
  }
  nav {
    padding: 35px 25px;
  }
  nav ul {
    display: none;
  }
  .bar {
    display: block;
    color: var(--primary-color);
    font-size: 1.7rem;
  }

  /* ======= banner ======= */
  .banner {
    min-height: 600px;
  }
  .banner form {
    flex-direction: column;
    margin: 15px;
  }
  .banner .select-box {
    width: 400px;
  }
  .banner form input,
  .banner form button {
    width: 100%;
  }
  .banner h1 {
    font-size: 3.5rem;
  }
  .banner p {
    width: 70%;
  }

  /* ======= popular Tours ======= */
  .popular-tours {
    flex-direction: column;
    gap: 40px;
    padding: 50px 0;
  }
  .popular-content,
  .popular-img {
    width: 80%;
  }
}

/* ***************** max-width: 600px Style **************** */
@media only screen and (max-width: 600px) {
  /* ======= navigation bar ======= */
  nav {
    padding: 35px 15px;
  }
  nav .logo {
    font-size: 1.5rem;
  }
  /* ======= banner ======= */

  .banner h1 {
    font-size: 2rem;
  }
  .banner .select-box {
    width: 100%;
  }
  .banner form {
    width: 80%;
  }
  .banner p {
    width: 85%;
  }
  /* ======= popular Tours ======= */
  .popular-tours {
    gap: 25px;
    padding: 30px 0;
  }
  .popular-content,
  .popular-img {
    width: 100%;
  }
  .popular-content .secondary-heading {
    font-size: 1.7rem;
  }
}
